# For audio, image, and data collection
sounddevice
soundfile
opencv-python
numpy
serial
pyserial
sounddevice
ultralytics
mediapipe
pyserial
#For Raspberry Pi GPIO control
#RPi.GPIO

# dashboard
Flask==3.1.3
pymongo[srv]
python-dotenv
paho-mqtt

# For Performance Testing
line_profiler
memory_profiler